*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: #1e28320d;
  min-height: 90vh;
}

.navbar {
  max-width: 1350px;
  margin: auto;
}

.upper-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.search-box {
  display: flex;
  gap: 15px;
  overflow: hidden;
  transition: width 0.5s linear;
  width: 24px;
  align-items: center;
}

.search-box:hover {
  width: auto;
  overflow: auto;
}

.search-input {
  background: transparent;
  font-size: 16px;
  outline: none;
  border: none;
  border-bottom: 1px solid;
}

.account-shopping {
  font-family: "roboto";
  white-space: nowrap;
  display: flex;
  gap: 20px;
}

.Account:hover {
  color: orangered;
}

.Shop:hover {
  color: orangered;
}

.divider {
  width: auto;
  border-top: 1px solid #E3E3E3;
  margin: 10px auto;
  opacity: 1;
}

.bottom-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    font-family: "roboto";
    white-space: nowrap;
}

ul li:hover {
  color: orangered;
}

ul li {
  list-style: none;
  display: inline-flex;
  flex-direction: row;
}

li {
  margin: 10px;
  font-weight: 200;
}

.product {
  display: flex;
  align-items: center;
  padding: 100px;
  border-radius: 10px;
}

.content {
  flex: 1;
  margin-left: 10%;
}

.content h1 {
  font-size: 4em;
  font-weight: lighter;
  margin: 0;
  margin-bottom: 10%;
  margin-left: 10%;
  font-family: "roboto";
}

.content p {
  font-size: 1.5em;
  margin: 10px 0px;
  margin-left: 10%;
  font-family: "roboto";
  font-weight: lighter;
}

.shop-now {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  font-size: 1em;
  margin-top: 20px;
  margin-left: 10%;
  outline: 0;
  font-family: "roboto";
}

.shop-now:hover {
  background-color: orangered;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
}

.image-container img {
  border-radius: 10px;
  max-width: 100%;
  height: auto;
}

.item1 {
  z-index: 1;
}

.item2 {
  z-index: 0;
}

.brand-box {
  overflow: hidden;
  white-space: nowrap;
  max-width: 1320px;
  margin: auto;
  margin-top: 100px;
  position: relative;
}

.brand-box::after,
.brand-box::before{
  position: absolute;
  top: 0;
  width: 100px;
  height: 100%;
  content: "";
  z-index: 2;
}

.brand-box::before{
  left: 0;
  background: linear-gradient(to left, rgba(255,255,255,0), white);
}

.brand-box::after{
  right: 0;
  background: linear-gradient(to right, rgba(255,255,255,0), white);
}


@keyframes move-rtl {
  from{
    transform: translateX(0);
  }

  to{
    transform: translateX(-100%);
  }
}


.brd-img{
  display:inline-block ;
  animation: move-rtl 10s linear infinite;
  max-width: 1320px;
}

.brd-img img{
  padding: 0 30px;
}


.brand-box:hover  .brd-img{
  animation-play-state: paused;
}

.product-grid {
  padding-top: 140px;
  max-width: 1320px;
  margin: 0 auto;
}
.sctn-title {
  display:flex;
  justify-content: center;
  margin-bottom: 20px;
  font-weight: bolder;
  font-size: 50px;
}
.section-title-bar {
  max-width: 1320px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.sctn-br-lst {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 15px;
}
.lst-prdt {
  display: inline;
  transition: color 0.3s ease;
}

.lst-prdt a{
  text-decoration: none;
  color: #333;
  font-weight:bolder;
}

.lst-tsr {
  display: inline;
  transition: color 0.3s ease;
}

.lst-tsr a{
  text-decoration: none;
  color: #888;
  font-weight: 600;
}

.lst-hds {
  display: inline;
  transition: color 0.3s ease;
}

.lst-hds a {
  text-decoration: none;
  color: #888;
  font-weight: 600;
}

.lst-jkt {
  display: inline;
  transition: color 0.3s ease;
}

.lst-jkt a{
  text-decoration: none;
  color: #888;
  font-weight:600;
}

.section-title-bar .sctn-br-lst .lst-tsr:hover a,
.section-title-bar .sctn-br-lst .lst-hds:hover a,
.section-title-bar .sctn-br-lst .lst-jkt:hover a {
  color: #FF6F61;
}

.section-title-bar .sctn-btn:hover{
  background-color: #FF6F61;
}

.sctn-btn {
  display: flex;
  text-align: center;
  align-items: center;
  background-color: #333;
  color: #fff;
  border: none;
  padding: 5px 15px;
  transition: color 0.3s ease;
}
.product-card {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px , 300px));
  gap: 24px;
  justify-content: center;
  max-width: 1320px;
  margin: auto;
}
.card-hot  {
  background-color: #fff;
  position: relative;
  overflow: hidden;
}

.card-hot-op{
  opacity:0.3;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}

.card-img {
  max-width: 100%;
  height: auto;
  display: block;
  transition: transform 0.5s ease;
}
.card-icn {
  position: absolute;
  bottom: -50px;
  left: 0;
  right: 0;
  background: rgb(0, 0, 0,0.7);
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
  transition: top 0.5s ease;
}

.product-card .card-hot:hover .card-icn {
  bottom: 80px;
}

.product-card .card-sale:hover .card-icn {
  bottom: 80px;
}

.product-card .card:hover .card-icn {
  bottom: 80px;
}

.card-inf h4{
  display: flex;
  justify-content: start;
  margin: 15px 0;
}

.card-inf-db{
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.card-icn{
display: flex;
justify-content: space-between;
}

.card-icn-db{
display:flex;
gap: 15px;
}

.card-icn-hrt {
  display: inline-block;
}
.card-icn-src {
}
.card-icn-shp {
  color: #fff;
  text-decoration: none;
  display: flex;
  gap: 15px;
  align-items: center;
}

.card-icn:hover .card-icn-shp{
  color: #FF6F61;
}

.category {
  color: #888;
  margin-bottom: 10px;
}

.card-sale .price{
  color: #FF6F61;
}

.price {
  font-size: 14px;
  color: #333;
  font-weight: 600;
}
.card {
  background-color: #fff;
  position: relative;
  overflow: hidden;
}
.card-sale {
  background-color: #fff;
  position: relative;
  overflow: hidden;
}
.product-card .old-price {
  text-decoration: line-through;
  color:#888 ;
  margin: 0 0 0 auto;
}


.discount-instagram {
  margin: 50px 0px 0px 0px;
}

.instagram-photo {
  margin: auto;
  width: fit-content;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.instaphoto-box {
  position: relative;
  height: 200px;
}


.instagramlogo {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.35s ease;
}

.instaphoto-box:hover .instagramlogo {
  opacity: 0.7;
  background-color: #000f;
}

.newsletter-instagram {
  background-color: #1e28320d;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 75px 0px 75px 0px;
}

.email {
  max-width: 800px;
  font-family: "roboto";
  white-space: nowrap;
  margin: 0 auto;
  display: flex;
  text-align: center;
}

.newsletter {
  padding-top: 50px;
  padding-bottom: 50px;
}

.discount-instagram {
  margin: 20px 0px 30px 0px;
  text-align: center;
  font-size: auto;
  font-family: "roboto";
}
.Instagram-email {
  border: 0px;
  border-bottom: 2px solid black;
  background: none;
  margin: 0 auto;
  flex: 1;
  height: 32px;
  outline: none;
  top: 622px;
  left: 517px;
  gap: 0px;
  opacity: 0px;
}
.instagramsubmitbutton {
  border: 0px;
  padding-bottom: 7px;
  border-bottom: 2px solid black;
}
.instagramsubmitbutton:hover {
  border-bottom-width: 3px;
  color: orangered;
  border-bottom: 2px solid orangered;
}

.subscribeheadline {
  font-family: "roboto";
  text-align: center;
  text-shadow: 0px 0px 10px 0px black;
  font-weight: bolder;
}